@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-dusha); */
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.blog-name {
  background: #000;
  color: var(--foreground);
  font-family: var(--font-dusha), sans-serif;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
  /* height: 100vh; */
}

.group-by-2 {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  width: 100%;
  max-width: 1000px;
  color: white;
  /* align-items: center; */
}

.menu-link {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.2s ease-in-out;
}

.menu-link:hover {
  opacity: 0.25;
}